<!-- Теги -->
<!-- заголовок 1 уровня -->
<h1>
    Hello Flask!
</h1>

<div>
    <h2>структурный тег div</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quae consequuntur saepe! Voluptatibus provident mollitia ipsa optio blanditiis laborum expedita recusandae impedit deleniti velit, molestias error in, tempore porro numquam!</p>
</div>
<div>
    <h2>структурный тег div</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quae consequuntur saepe! Voluptatibus provident mollitia ipsa optio blanditiis laborum expedita recusandae impedit deleniti velit, molestias error in, tempore porro numquam!</p>
</div>
<span>строчный элемент 1</span>
<span>строчный элемент 2</span>

<a href="http://google.com"> style="color: rgb ссылка</a>

<img src="../static/logo1.jpg" alt="лого LP">

<div>
    <a href="http://google.com">
    <img src="../static/logo1.jpg" alt="лого LP">
    </a>
</div>

<div>
    <h3 style="background-color: darkgreen; border: indigo solid 3px;">заголовок</h3>
    <p style="border: tomato dashed 3px; width: 50%; height: 100px;">

        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum earum quisquam similique veniam ipsa eveniet hic dolores expedita officiis, et, magnam eligendi unde adipisci ullam blanditiis voluptate odit. Voluptatum, sint. 
    </p>

</div>
