<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My site</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="wrapper">
      <header class="header">
            header
      </header>
      <div class="sidebar_1">
          Sidebar_1
      </div>
      <div class="main">
        main
        <div class="content" id="c1">
            Content 1
        </div>
         <div class="content" id="c2">
            Content 2
        </div>
         <div class="content" id="c3">
            Content 3
         </div>
        </div>
        <div class="sidebar_2">
            sidebar_2
        </div>
      <footer class="footer">
          footer
      </footer>
    </div>
</body>
</html>