{% extends "index.html" %}

{% block main %}

<div class="product-main">
    <h1>Product page</h1>

    <form method="post">
        <!-- Поля ввода данных-->
        <!-- Поле имени -->
        <div class="field">
            <label for="name">Имя:</label>
            <input type="text" name="name" id="name">
        </div>
        <!-- Поле пароля -->
        <div class="field">
            <label for="pwd">Пароль:</label>
            <input type="password" name="pwd" id="pwd">
        </div>
        <!-- Кнопка -->
        <button type="submit">Готово</button>
    </form>

    <div class="message">
        {% if msg %}
        <h3>{{ msg }}</h3>
        <p>Name: {{ name }}</p>
        <p>Password: {{ password }}</p>
        {% endif %}
    </div>

</div>


{% endblock %}